<div class="container blog-card-container">
  <div *ngFor="let category of categoriesWithBlogs">
    <ng-container *ngIf="category.blogs ">
      <h1 class="category-title" [routerLink]="['/category', category._id]">
        {{ category.name }} <span class="dot">&bull;</span>
      </h1>
      <div class="blog-grid">
        <div
          class="blog-card"
          [ngStyle]="{ 'background-color': category.color }"
          *ngFor="let blog of category.blogs.slice(0, 3)"
          [routerLink]="['/blog', blog._id]"
        >
          <ng-container *ngIf="blog.Blog_image && blog.title">
            <div class="card-img">
              <img
                [src]="'http://localhost:4002' + blog.Blog_image"
                alt="Blog Image"
                class="blog-image"
              />
            </div>
            <div class="tag-name-wrapper">
              <ul>
                <li>
                  <a [routerLink]="['/category', category._id]">{{ category.name }}</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="blog-title">{{ blog.title }}</h5>
              <p class="blog-description">
                {{ blog.des || "No description available." }}
              </p>
              <div class="blog-meta">
                <span> {{ blog.comments || 0 }} Comments &bull; </span>
                <span> {{ blog.views || 0 }} Views </span>
              </div>
              <div class="author-info">
                <img
                  [src]="'http://localhost:4002/uploads/admin.jpg'"
                  class="author-img"
                />
                <div class="author-details">
                  <h6 class="author-name">
                    {{
                      blog.author?.personal_info?.fullname || "Unknown Author"
                    }}
                  </h6>
                  <p class="publish-date">
                    {{ blog.publishedAt | date : "medium" }}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
