<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  [class.dark-mode]="isDarkMode"
>
  <div class="container-fluid">
    <a routerLink="/"
      ><img src="/images/icon1.png" alt="logo" class="navbar-brand"
    /></a>

    <div class="nav-wrapper">
      <div
        class="navbar-collapse offcanvas-menu nav-content"
        [ngClass]="{ 'show-menu': isNavbarOpen }"
      >
        <button class="close-btn d-lg-none" (click)="closeNavbar()">
          <i class="fas fa-times"></i>
        </button>

        <ul class="navbar-nav">
          <li
            class="nav-item nav-menu"
            (mouseenter)="openDropdown()"
            (mouseleave)="closeDropdown()"
            (onclick)="openDropdown()"
          >
            <a class="nav-link " href="#"
              >Learning <i class="fa-solid fa-chevron-down"></i>
            </a>
            <ul
              class="dropdown"
              (mouseenter)="openDropdown()"
              (mouseleave)="closeDropdown()"
              *ngIf="isDropdownOpen && categories.length > 0"
            >
              <li *ngFor="let category of categories">
                <a class="dropdown-list" href="#">{{ category.name }}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" routerLink="/home/profile">Profile</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/platform">Platform</a></li>
          <li
          class="nav-item nav-menu"
          (mouseenter)="openAdminDropdown()"
          (mouseleave)="closeAdminDropdown()"
          (click)="openAdminDropdown()"
          *ngIf="isAdmin"
        >
          <a class="nav-link" href="#">
            Admin <i class="fa-solid fa-chevron-down"></i>
          </a>
          <ul
            class="dropdown"
            (mouseenter)="openAdminDropdown()"
            (mouseleave)="closeAdminDropdown()"
            *ngIf="isAdminDropdownOpen"
          >
            <li>
              <a class="dropdown-list" routerLink="/admin">Dashbord</a>
            </li>
            <li>
              <a class="dropdown-list" routerLink="/admin/blog">Blog</a>
            </li>
            <li>
              <a class="dropdown-list" routerLink="/admin/category">Categories</a>
            </li>
          </ul>
        </li>
        
        </ul>
      </div>

      <div class="nav-icons">
        <i
          class="fas"
          [ngClass]="isDarkMode ? 'fa-moon' : 'fa-sun'"
          (click)="toggleTheme()"
        >
        </i>
        <i class="fas fa-search"></i>
        <button class="subscribe-btn my-btn" routerLink="/login">Login</button>
      </div>

      <button
        class="navbar-toggler d-lg-none"
        type="button"
        (click)="toggleNavbar()"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</nav>
