<div class="container">
  <div class="card">
    <h2>Register</h2>
    <form [formGroup]="registerForm" class="register-form" (ngSubmit)="register()">
      <div class="form-first-wrapper">
        <div class="form-group">
          <label>Full Name:</label>
          <input type="text" formControlName="fullname" />
        </div>

        <div class="form-group">
          <label>Email:</label>
          <input type="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label>Password:</label>
          <input type="password" formControlName="password" />
        </div>
      </div>

      <div class="form-second-wrapper">
        <div class="form-group">
          <label>Profile Image:</label>
          <input type="file" (change)="onFileSelected($event)" />
        </div>

        <div class="form-group">
          <label>Bio:</label>
          <textarea formControlName="bio" rows="4"></textarea>
        </div>
      </div>

    </form>
    <button type="submit" (click)="register()" class="my-btn">Register</button>
    <h6 class="register-footer">
      If you have an Acount ? <a routerLink="/login" class="login-link">Login</a>
    </h6>
  </div>

  <div class="regiter-img-container">
    <img src="/images/register-img.png" alt="" class="img-fuilde register-img">
  </div>
</div>
