<div class="home-container container">
    <div class="content-wrapper mx-auto">
        <ul class="tag-name-wrapper">
            <li class="tag-name"><a href="">HTML</a></li>
            <li class="tag-name"><a href="">Css</a></li>
        </ul>
      <div class="image-section">
        <img src="/images/home-image.webp" alt="Illustration" class="home-img img-fluid">
      </div>
      <div class="home-text-section">
        <div class="author-info">
          <img [src]="'http://localhost:4002/uploads/admin.jpg'" alt="Author" class="author-img img-fluid">
          <div>
            <p class="author-name">William Lewis</p>
            <p class="date">5 months ago</p>
          </div>
        </div>
        <h1 class="home-title">Announcing if attachment resolution sentiments admiration</h1>
        <p class="meta">0 Comments • 2 Min Read • 1.2K Views</p>
      </div>
    </div>
  </div>
  