.blog-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  color: var(--theme-text);
  border-radius: 12px;
  font-weight: var(--title-font-weight);
}

.blog-header {
  position: relative;
  text-align: center;
}

.blog-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.blog-title {
  position: absolute;
  bottom: calc(30%);
  left: calc(25%);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blog-title h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--title-font-weight-extra);
}

.meta {
  font-size: 14px;
  color: #b0b0b0;
}

.blog-body {
  padding: 20px;
}

.description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.blog-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.quote-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #ffcc00;
  font-size: 18px;
  font-style: italic;
}

.quote-box .author {
  display: block;
  text-align: right;
  font-size: 16px;
  margin-top: 10px;
  font-style: normal;
  // color: #ffcc00;
}

.tags {
  margin: 20px 0;
}

.tags h2 {
  font-size: 20px;
  margin-bottom: 10px;
  // color: #ffcc00;
}

.tag {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  // color: #ffcc00;
}

.like{

  display: flex;
  align-items: center;
  i{
    margin-right: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  
  .i-color{
    color: red;
    
  }
}


