.table-container {
    max-height: 400px; 
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    overflow-y: auto;
    border: 1px solid #ccc;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  input[type="checkbox"] {
    cursor: pointer;
  }
  
  .table-checkbox{
    padding-left: 20px !important;
  }