<div class="chat-display-container">
    <button class="my-btn" (click)="toggleChat()">
        <i class="fas fa-robot"></i>
    </button>
</div>

<div class="chat-container" [ngClass]="{ 'chat-open': !isChatOpen }">
    <div class="chat-heading-wrapper">
        <h2><i class="fas fa-robot"></i> AI Guidance For Learning</h2>
        <button class="my-btn" (click)="toggleChat()"><i class="fas fa-close"></i></button>
    </div>
  
    <div class="chat-box"  #chatContainer>
      <div *ngFor="let msg of messages" [class]="msg.sender">
        <i *ngIf="msg.sender === 'user'" class="fas fa-user"></i>
        <i *ngIf="msg.sender === 'ai'" class="fas fa-robot"></i>
        <p>{{ msg.text }}</p>
      </div>
    </div>
  
    <div class="input-area">
      <input
        type="text"
        [(ngModel)]="input"
        placeholder="Ask me anything..."
        (keyup.enter)="sendMessage()"
      />
      <button (click)="sendMessage()" class="my-btn">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
  