<div class="editors-picks container" #scrollContainer>
  <h2>editors picks.</h2>
  <div class="scroll-container d-flex">
    <div
      *ngFor="let category of categories"
      class="category-card"
      [style.backgroundColor]="category.color"
      [routerLink]="['/home/category', category._id]"
    >
      <ul class="tag-name-wrapper">
        <li class="tag-name">
          <a [routerLink]="['/home/category', category._id]">{{ category.name }}</a>
        </li>
      </ul>
      <h3>{{ category.description }}</h3>
    </div>
  </div>
</div>
